{% extends 'base.html.twig' %}

{% block title %}Nouvelles Donnes test Dev
{% endblock %}

{% block body %}
	{# npm run watch #}

	<h1>Affichage infos sur page index</h1>

	<div ref="clients" data-clients="{{ clients|join(';') }}"></div>
	<div id="app">Oups... Problème !</div>
    
{% endblock %}
